/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #222222;
}



.flex{
    display: flex;
}

.flex-centered{
    display: flex;
    justify-content: center;
}

.centered-m{
    height: 97vh;
    width: 98vw;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black

}

.container{
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.webcam-img{
    padding-left: 1rem;
    color: white;
}

.img-size{
    height: 150px;
    width: 245px;
    margin-bottom: .5rem;

}

.block{
    position: relative;
    top: 60%;
    left: 51%;
    transform: translate(-50%, -50%);
}

.pinco{
    position: relative;
    top: 82%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);;
    width: 100px;
    height: 20px;
}

